@font-face {
  font-family: 'YourCustomFont';
  src: url('/styles/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
    url('/styles/fonts/PPNeueMontreal-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
