:root {
  --font-pp-neue-montreal: 'PP Neue Montreal', sans-serif;
}

html,
body,
#__next {
  font-family: var(--font-pp-neue-montreal), sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  font-family: inherit;
}
