:root {
  --font-pp-neue-montreal: 'PP Neue Montreal', sans-serif;
}

html,
body,
#__next {
  font-family: var(--font-pp-neue-montreal), sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  font-family: inherit;
}

/* Date Picker Styles */
.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: var(--chakra-colors-blue-500);
  --rdp-background-color: var(--chakra-colors-gray-100);
  --rdp-accent-color-dark: var(--chakra-colors-blue-400);
  --rdp-background-color-dark: var(--chakra-colors-gray-700);
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 3px solid var(--rdp-accent-color);
  margin: 0;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  background-color: var(--rdp-accent-color);
  color: white;
}

.rdp-day:hover:not([disabled]) {
  background-color: var(--rdp-background-color);
}
